<app-authentication-layout>
    <div class="text-center mb-9">
        <p class="text-6xl mb-2">Hello Again!</p>
        <p>Welcome back you've been missed</p>
    </div>
    <div class="authen-form-wrapper flex flex-col gap-4 items-center">
        <input
            id="username"
            placeholder="Username"
            class="rounded-xl input-field"
        />
        <input
            id="password"
            placeholder="Password"
            class="rounded-xl input-field"
        />
        <a class="text-xs w-[70%] text-end text-gray-500" href="/"
            >Forgot password?</a
        >
        <button
            class="bg-activatedButton w-[70%] rounded-xl p-3 mt-6 font-semibold hover:bg-[#e7b1b1]"
        >
            Login
        </button>
    </div>
</app-authentication-layout>
