<div class="text-center mb-9">
    <p class="text-6xl mb-2">Bloom with us!</p>
    <p>Join our community for special offers and floral tips</p>
</div>
<div class="authen-form-wrapper flex flex-col gap-4 items-center">
    <input
        id="username"
        placeholder="Username"
        class="rounded-xl input-field"
    />
    <input
        id="password"
        placeholder="Password"
        class="rounded-xl input-field"
    />
    <input
        id="confirm-password"
        placeholder="Confirm Password"
        class="rounded-xl input-field"
    />
    <button class="bg-activatedButton w-[70%] rounded-xl p-3 mt-6 font-semibold hover:bg-[#e7b1b1]">Register</button>
</div>
